{% extends 'main/principal.html' %}
{% block titulo %} Inscripcion de Estudiantes {% endblock titulo%}

{% block content %}
<center><h2>Formulario de Registro</h2></center><br>

<div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{message.tags}}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Import: {% endif %}
            {{ message }}

        </li>
        {% endfor%}
    </ul>
    {% endif %}
</div>

<form action="" method="POST">
    {% csrf_token %}
    {{registro_form.as_p}}
    {{inscripcion_form.as_p}}<br>
    
    
    
    <center><button type="submit">Crear y Editar</button></center>

 </form>

{% endblock content %}